.DS_Store

node_modules
node_modules/**
node_modules/*/**
node_modules/*/*/**

.env
scripts

.vscode
.vscode/**

.aws-sam
.aws-sam/**
.aws-sam/build/**
.aws-sam/build/template.yaml

dist
dist/**
dist/*/**
dist/*/*/**
